@model EcommerceStore.Models.BillAndBillDetailViewModel
<style>
        .enMoney:after {
            content: ' ₫';
        }
</style>
<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			
			<div class="row">
				<div class="col-md-5">
					<!-- Billing Details -->
					<div class="billing-details">
						<div class="section-title">
							<h3 class="title">Thông tin giao hàng</h3>
						</div>
						<div class="form-group">
							<label>Họ và tên</label>
							<input class="input" type="text" name="bill.Name" required="required" value="@(Model.Name)" form="payment">
						</div>
						<div class="form-group">
							<label>Số nhà/Tên đường - Thôn</label>
							<input class="input" type="text" name="bill.Hamlet" required="required" value="@(Model.Hamlet)" form="payment">
						</div>
						<div class="form-group">
							<label>Xã - Phường - Thị trấn</label>
							<input class="input" type="text" name="bill.Village" required="required" value="@(Model.Village)" form="payment">
						</div>
						<div class="form-group">
							<label>Quận - Huyện - Thành phố</label>
							<input class="input" type="text" name="bill.District" required="required" value="@(Model.District)" form="payment">
						</div>
						<div class="form-group">
							<label>Tỉnh - Thành phố</label>
							<input class="input" type="text" name="bill.Province" required="required" value="@(Model.Province)" form="payment">
						</div>
						<div class="form-group">
							<label>Số điện thoại</label>
							<input class="input" type="tel" name="bill.Telephone" required="required" value="@(Model.Telephone)" form="payment">
						</div>
					</div>
					</div>
				<!-- /Billing Details -->
				<!-- Order Details -->
				<div class="col-md-7 order-details">
					<div class="section-title text-center">
						<h3 class="title">Giỏ hàng của bạn</h3>
					</div>
					<div class="order-summary">
						<table class="table">
						<thead>
							<tr>
								<th></th>
								<th>Sản phẩm</th>
								<th class="text-right">Giá tiền</th>
								<th class="text-center">Số lượng</th>
								<th class="text-right">Tổng Giá tiền</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							@{
								if(Model==null)
								{
									<tr>
										<td colspan="6" class="text-center">Không có sản phẩm nào để thanh toán</td>
									</tr>
								}
								else
								{
										if (Model.ListProduct != null)
										{
											if (Model.ListProduct.Count > 0)
											{
												foreach (var Data in Model.ListProduct)
												{
													<tr>
														<td>
														<a href="#">
															<img src="@(Data.Url)" title="" width="60" height="60">
														</a>
														</td>
														<td>
														<a href="#">
															@Data.ProductName
														</a>
														</td>
														<td class="price1 text-right"style="width: 110px">@(Data.ProductPrice)</td>
														<td class="text-center"style="width: 130px">
														<form asp-controller="PayMent" asp-action="PayMent" method="post" id="payment">
															<span><input type="hidden" value="@Data.ProductId" name="bill.Product.ProductId" /></span>
															<span><input style="width:25px;height:35px" type="submit" value="-" name="bill.Type" /></span>
															<span><input style="height:35px" type="text" value="@Data.Quantity" name="bill.Product.Quantity" size="2" style="text-align:center" class="text-center" /></span>
															<span><input style="width:25px;height:35px" type="submit" value="+" name="bill.Type" /></span>
														</form>
														</td>
														<td class="price1 text-right"style="width: 120px">@(Data.TotalProductPrice)</td>
														<td class="text-center">
														<form asp-controller="PayMent" asp-action="PayMent" method="post" id="payment">
															<span><input type="hidden" value="@Data.ProductId" name="bill.Product.ProductId" /></span>
																<button class="remove_cart" rel="1" value="d" name="bill.Type">
																	<i class="fas fa-trash"></i>
																</button>
														</form>
														</td>
													</tr>
												}
											}
											else
											{
												<tr>
													<td colspan="6" class="text-center">Không có sản phẩm nào để thanh toán</td>
												</tr>
											} 
										}
										else
										{
											<tr>
												<td colspan="6" class="text-center">Không có sản phẩm nào để thanh toán</td>
											</tr>
										} 
									}
								}
						</tbody>
					    </table>
						<div class="order-col">
							<div style="font-size:20px"><strong>Tổng giá tiền</strong></div>
									<div><strong class="order-total price1">@Model.Total</strong></div>
						</div>
					</div>
					@{
						if(Model!=null && Model.Total!=0 &&Model.ListProduct.Count!=0)
						{
						<div class="payment-method">
							<div class="input-radio">
								<input type="radio" name="bill.PaymentMethod" id="payment-1" value="Thanh toán bằng chuyển khoản" required="required" form="payment">
								<label for="payment-1">
									<span></span>
									Chuyển khoản
								</label>
								<div class="caption">
									<p>Vui lòng chuyển khoản với cú pháp</p>
								</div>
							</div>
							<div class="input-radio">
								<input type="radio" name="bill.PaymentMethod" id="payment-2" value="Thanh toán bằng ví điện tử" required="required" form="payment">
								<label for="payment-2">
									<span></span>
									Thanh toán bằng ví điện tử
								</label>
								<div class="caption">
									<p>Quét QR</p>
								</div>
							</div>
							<div class="input-radio">
								<input type="radio" name="bill.PaymentMethod" id="payment-3" checked value="Thanh toán khi nhận hàng" required="required" form="payment">
								<label for="payment-3">
									<span></span>
									Thanh toán khi nhận hàng
								</label>
								<div class="caption">
									<p>Chúng tôi sẽ xác nhận </p>
								</div>
							</div>
						</div>
						<div class="input-checkbox">
							<input type="checkbox" id="terms" required="required" checked>
							<label for="terms">
								<span></span>
								Tôi đồng ý với các <a href="#" style="color: blue;">Điều khoản & và điều kiện</a>
							</label>
						</div>
						<button class="primary-btn order-submit" value="p" name="bill.Type" form="payment">Thanh toán</button>
						}
						else
						{
							<div class="col-md-50 text-center">
							<a href="@Url.Action("Index", "Home")" style="font-size: 25px;"><strong>Tiếp tục mua hàng</strong></a>
							</div>
						}
					}
				</div>
				<!-- /Order Details -->
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
</div>
@section Scripts{
<script type="text/javascript">
	$('.price1').each(function () {
    var item = $(this).text();
    var num = Number(item).toLocaleString('en');    

    $(this).addClass('enMoney');
    
    $(this).text(num);
	});
</script>
}